.card-body {
text-align: center;
width: 100%;
height: 200px;
border-radius: 1px;

}

.navbar-toggler {
    align-items: flex-end;
}
#left1 {
    height: 180px;
    text-align: center;
    width: 100%;
    height: 200px;
}
#center1 {
    vertical-align: middle;
}
#right1 {

}